section#info {
    width: 100vw;
    height: 96vh;
    background-color: var(--color-primary);
    color: white;
    padding: 40px;
    text-align: center;
    font-size: 12px;
}

h3 {
    margin-top: 2vh;
    margin-left: -35px; /*alinhamento com o meio da pag e com a logo do header (não ideal)*/
    height: 6.5vh;
    width: 100vw;
    color: var(--color-secundary);
    font-size: 5vh;
    font-style: italic;
}

div.underLine {
    width: 40px;
    height: 4px;
    margin: 25px auto;
    background-color: white;
    z-index: 3;
}

span {
    margin-top: 2vh;
    height: 6.5vh;
    width: 100vw;
    color: var(--color-secundary);
    font-size: 2.4vh;
    font-style: italic;
}

.midLine {
    background-color: var(--color-terciary) ;
    margin-top: 3vw;
    height: 1vh;
}


.footer {
    background-color: #191919;
    padding: 40px;
}

.footerInfos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 40px;
    text-align: center;
    font-size: 12px;
}

.footerImg {
    float: left;
}

.footerImg img {
    width: 70px;
    height: 20%;
}

.sectionList {
    float: left;
}

.sectionList li {
    list-style: none;
}

.sectionList a {
    color: currentColor;
    text-decoration: none;
}

.logo {
    display: flex;
    float: right;
}


.mediaLogos li {
    list-style: none;
}

.mediaLogos a {
    color: currentColor;
    text-decoration: none;
}

.mediaLogos .fa-brands {
    font-size: 30px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.mediaLogos .fa-brands:hover {
    color: var(--color-secundary)!important;
}