section#info {
    width: 99.1vw;
    height: 90vh;
    background-color: var(--color-primary);
    color: white;
    padding: 40px;
    text-align: center;
    font-size: 12px;
}

h3 {
    margin-top: 2vh;
    margin-left: -35px; /*alinhamento com o meio da pag e com a logo do header (não ideal)*/
    height: 6.5vh;
    width: 99.1vw;
    color: var(--color-secundary);
    font-size: 5vh;
    font-style: italic;
    font-family: 'Roboto Slab', serif;
}

div.underLine {
    width: 40px;
    height: 4px;
    margin: 25px auto;
    background-color: white;
    z-index: 3;
}

span {
    margin-top: 2vh;
    height: 6.5vh;
    width: 99.1vw;
    color: var(--color-secundary);
    font-size: 2.4vh;
    font-style: italic;
    font-family: 'Roboto Slab', serif;
}

.footer {
    height: 50vh;
    margin-top: 2vw;
    background-color: var(--color-terciary);
    padding: 40px;
}

.footer img {
    width: 30vw;
    margin-bottom: 10px;
}

.footer p {
    font-size: small;
    padding: 1px;
    color: var(--color-primary);
}

.footer p a {
    text-decoration: none;
    color: var(--color-primary);

}

.footer p a:hover {
    color: var(--color-secundary);
}


.footerInfos {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    padding: 40px;
    text-align: center;
    font-size: 12px;
}

.footerImg {
    float: left;
}

.footerImg img {
    width: 70px;
    height: 20%;
}

.sectionList {
    float: left;
}

.sectionList li {
    list-style: none;
}

.sectionList a {
    color: currentColor;
    text-decoration: none;
}

.sectionList a:hover {
    color: var(--color-secundary);
}

.logo {
    display: flex;
}


.mediaLogos li {
    list-style: none;
}

.mediaLogos a {
    color: currentColor;
    text-decoration: none;
}

.mediaLogos .fa-brands {
    font-size: 30px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.mediaLogos .fa-brands:hover {
    color: var(--color-secundary)!important;
}