:root {
    --color-primary: #883D1A;
    --color-secondary: #2a160c;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* HEADER Styles */

#home {
    height: 98%;
}

#home header {
    color:var(--color-primary);
    padding: 30px 0;
    position: fixed;
    width: 100%;
    top: 0;
}

#home header nav {
    display: flex;
    justify-content: center;
}

#home header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#home header nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    margin-right: 20px;
    transition: transform 0.2s;
}

#home header nav li:hover {
    padding-bottom: 15px;
    color: var(--color-secondary);
    transform: translateY(-3px);
}

#home header nav li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding: 20px;
    color: inherit;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    font-size: 20px;
    cursor: pointer;
}










/*ABOUT STYLES */

/*PLANS STYLES*/

/*ENROLEMENT STYLES*/

/*INFO/CONTACTS STYLES*/

